body {
    font-family: Arial, sans-serif;
}

table { 
    border-collapse: collapse; 
    width: 90%; 
    margin: 20px auto; 
}

th, td {
    border: 1px solid #888;
    padding: 10px; 
    text-align: left; 
}

h1 {
    text-align: center; 
    margin-top: 30px;
}

a button {
    display: flex;
    margin: auto;
}